//main
#main {
    //mainheader
    #mainheader {
        display: block;
        .navbar {
            width: 100%;
            .logo {
                display: block;
                margin: 0 auto;
            }
            .navbar-content {
                margin-bottom: 2rem;
            }
        }
      #left-panel {
        width: 100%;
      }
    
    }
}

//mainheader
#mainheader {
    display: block;
    .navbar {
        width: 100%;
        .logo {
            display: block;
            margin: 0 auto;
        }
        .navbar-content {
            margin-bottom: 2rem;
        }
    }
    #left-panel {
        .article {
            .icons-row {
                gap: 10px;
                text-align: center;
                .text-secondary, .branding-design, .comments {
                    color: #000000a1;
                }
            }
        }
    }
}

