@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

$font-stack: "Montserrat", sans-serif;

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body {
    font-family: $font-stack;
    scroll-behavior: smooth;
    background: rgba(255, 192, 203, 0.314);
}

a {
    color: #000;
    text-decoration: none;
    text-transform: capitalize;
}

.navbar ul li a:hover,
.navbar ul li a.active {
    color: blue;
    text-decoration: underline;
}

ul {
    list-style: none;
}

.container {
    max-width: 1300px;
    padding: 0 30px;
    margin: 0 auto;
    overflow: auto;
}

img {
    max-width: 100%;
}

.flex {
    display: flex;
    flex: 1;
    gap: 30px;
}

.title {
    font-size: 2.5rem;
    text-align: left;
    font-weight: 300;
}

.subtitle {
    font-size: 2rem;
    text-align: left;
    font-weight: 300;
}

.btn {
    display: block;
    width: fit-content;
    padding: 10px 20px;
    text-align: center;
    text-transform: capitalize;
    border: 1px solid rgba(0, 0, 255, 0.504);
    color: rgba(0, 0, 255, 0.766);
    cursor: pointer;
}

.btn:hover {
    color: #fff;
    background: blue;
}

form {
    .form-group {
        margin-bottom: 1rem;
    }
    .form-control {
        display: block;
        width: 100%;
        padding: 1rem;
        border-radius: 5px;
    }
    button {
        display: block;
        width: 100%;
        padding: 10px 20px;
        text-align: center;
        text-transform: capitalize;
        border: none;
        color: #fff;
        background: #000;
        cursor: pointer;
    }
}

::placeholder {
    font-family: "Font Awesome 5 free";
    font-weight: 600;
    content: "\f007";
    text-align: right;
}

//mainheader
#mainheader {
    width: 85%;
    margin: 0 auto;
    padding-top: 2rem;
    .navbar {
        max-width: calc(100vh - 300px);
        max-height: calc(100vh - 30px);
        background: #fff;
        padding: 10px;
        p {
            margin: 1rem 0;
        }
        ul {
            li {
                margin: 1rem 0;
            }
        }
        h3 {
            text-align: center;
            font-weight: 300;
        }
    }
}

#left-panel {
    background: #fff;
    .title {
        margin: 3rem 0 2rem 0;
    }
    p {
        line-height: 25px;
        margin-bottom: 1rem;
    }
    .article {
        .subtitle {
            margin-bottom: 2rem;
        }
        p{
            font-size: small;
        }
        .btn {
            margin-bottom: 2rem;
        }
    }
    //about
    .about {
        .subtitle {
            margin: 2rem 0;
            text-transform: uppercase;
        }
        p {
            text-align: justify;
        }
    }
    //contact
    .contact {
        h2 {
            padding: 3rem 0;
        }
        form {
            min-width: calc(100vh + 150px);
            padding: 50px;
            .flex-box {
                flex: 1;
            }
        }
    }
}

//left panel 2
#left-panel-2 {
    .article {
        img {
            margin-bottom: 1rem;
        }
        p {
            margin: 2rem 0;
            text-align: justify;
        }
    }
}


//footer
#footer {
    text-align: center;
    padding: 3rem 0;
}